* {
    margin: 0px;
    padding: 0px;
}

:root {
    --bg-dark: #1f2937;
    --light-primary: #f9faf8;
    --light-secondary: #e5e7eb;
    --blue-primary: #3882f6;
    --quote-bg: #e5e7eb;
    --quote-txt: #1f2937;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-dark);
    padding: 20px 100px;
}

header h2 {
    font-size: 24px;
    color: var(--light-primary)
}

header ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header ul a {
    font-size: 18px;
    color: var(--light-secondary);
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.hero {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    gap: 30px;
    padding: 50px 100px;
}

.hero-txt {
    flex: 1 1 0;
}

.hero-txt h1 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--light-primary);
}

.hero-txt p {
    font-size: 18px;
    color: var(--light-secondary);
    margin: 15px 0px;
}

.hero-txt button {
    background-color: var(--blue-primary);
    color: var(--light-primary);
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    font-weight: bold;
}

.hero > img {
    flex: 1 1 0;
    background-color: var(--quote-bg);
    color: var(--light-secondary);
    height: 250px;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: auto;
    text-align: center;
    padding: 50px;
}

.info-section > h2 {
    font-size: 36px;
    font-weight: bolder;
    color: var(--quote-txt);
    margin-bottom: 50px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 30px;    
}

.info-item {
    width: 150px;
}

.info-item img {
    width: 100px;
    height: 100px;
    border: 2px solid var(--blue-primary);
    border-radius: 5px;
    margin-bottom: 15px;
}

.quote-section {
    flex: auto;
    background-color: var(--quote-bg);
}

.signup-section {
    flex: auto;
}